body{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 50%;
}
.link-buttom{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
}